<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongweisu.dao.TWS_ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.tongweisu.entity.TWS_Article" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="hits" property="hits" jdbcType="BIGINT" />
    <result column="seo_keywords" property="seoKeywords" jdbcType="VARCHAR" />
    <result column="seo_title" property="seoTitle" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="orders" property="orders" jdbcType="BIGINT" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, author, hits, seo_keywords, seo_title, title, is_deleted, 
    orders, image, source, type,content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tws_article
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="getAll" resultType="com.tongweisu.entity.TWS_Article" parameterType="java.util.HashMap">
      select
      <include refid="Base_Column_List" />
      from tws_article where 1 = 1
      <if test="type!=null">
        AND type = #{type,jdbcType=BIGINT}
      </if>
      <if test="title!=null and title !='' ">
        AND title like '%${title}%'
      </if>
      <if test="startDate != null and endDate !=null " >
        AND create_date BETWEEN #{startDate,jdbcType=TIMESTAMP} AND #{endDate,jdbcType=TIMESTAMP}
      </if>


    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tws_article
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByPrimaryIds">

  </delete>

  <insert id="insert" parameterType="com.tongweisu.entity.TWS_Article" >
    insert into tws_article (id, create_date, modify_date, 
      author, hits, seo_keywords, 
      seo_title, title, is_deleted, 
      orders, image, source, 
      type, content)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{author,jdbcType=VARCHAR}, #{hits,jdbcType=BIGINT}, #{seoKeywords,jdbcType=VARCHAR}, 
      #{seoTitle,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{orders,jdbcType=BIGINT}, #{image,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{type,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tongweisu.entity.TWS_Article" >
    insert into tws_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="hits != null" >
        hits,
      </if>
      <if test="seoKeywords != null" >
        seo_keywords,
      </if>
      <if test="seoTitle != null" >
        seo_title,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="hits != null" >
        #{hits,jdbcType=BIGINT},
      </if>
      <if test="seoKeywords != null" >
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=BIGINT},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongweisu.entity.TWS_Article" >
    update tws_article
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="hits != null" >
        hits = #{hits,jdbcType=BIGINT},
      </if>
      <if test="seoKeywords != null" >
        seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        seo_title = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=BIGINT},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tongweisu.entity.TWS_Article" >
    update tws_article
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=BIGINT},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      orders = #{orders,jdbcType=BIGINT},
      image = #{image,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongweisu.entity.TWS_Article" >
    update tws_article
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=BIGINT},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      orders = #{orders,jdbcType=BIGINT},
      image = #{image,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>