<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <title></title>
</head>
<body>
<!--jQuery-->
<nav th:fragment="jquery">
  <script type="text/javascript" th:src="@{/admin/lib/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/admin/lib/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/admin/static/h-ui/js/H-ui.js}"></script>
  <script type="text/javascript" th:src="@{/admin/static/h-ui.admin/js/H-ui.admin.page.js}"></script>
</nav>
</body>
</html>
