<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
</head>
<body>
<nav th:fragment="page">
  <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">显示 [[${(page.pageNum-1)*10+1}]] 到 [[${(page.pageNum-1)*10+page.list.size()}]] 条，共[[${page.total}]] 条
  </div>
  <th:block th:if="${page.pages>1}">
    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
      <th:block th:if="${page.pageNum>1}">
        <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0"
           tabindex="0" id="DataTables_Table_0_previous" th:href="'javascript: $.pageSkip(\''+${page.pageNum-1}+'\');'">上一页</a>
      </th:block>

      <span th:each="i:${#numbers.sequence(1,page.pages)}">
         <a th:class="${i==page.pageNum?'paginate_button current':'paginate_button'} "
            th:href="'javascript: $.pageSkip(\''+${i}+'\');'"
            aria-controls="DataTables_Table_0"
            th:data-dt-idx="${i}"
            th:tabindex="${i-1}">
          [[${i}]]
        </a>
      </span>

      <th:block th:if="${page.pageNum<page.pages}">
        <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
           th:href="'javascript: $.pageSkip(\''+${page.pageNum+1}+'\');'"
           id="DataTables_Table_0_next">下一页</a>
      </th:block>
    </div>
  </th:block>
  <script type="text/javascript" th:src="@{/admin/lib/input.js}"></script>
</nav>
</body>
</html>
